<style>
body 
  {font-family: "calibri", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
.header{
  background-color: #FFFFFF;
  padding-top:10px;
  letter-spacing:4px;
  border:1px;
  
}
</style>